* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body,
html {
  font-family: "Inter";
  overflow-x: hidden;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
ul,
li,
a,
p {
  margin: 0;
  padding: 0;
}

:root {
  --pink-color: #365871;
  --gray-dark-color: #21201c;
  --white-color: #ffffff;
  --gray-light-color: #767571;
}
body {
  background-color: #fdfcf8;
  scroll-behavior: smooth;
}
/* ---navbar--start */
#navbar {
  background-image: url("../images/navbar-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: relative;
}
.navbar {
  padding-top: 30px;
}
#navbar .navbar-nav {
  gap: 44px;
}
#navbar .navbar-nav .nav-link {
  padding: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: var(--gray-dark-color);
  position: relative;
  text-decoration: none;
  transition: color 0.3s ease;
}
#navbar .navbar-nav .nav-link::after,
.footer-nav .nav-link::after {
  position: absolute;
  content: "";
  bottom: -40%;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--gray-dark-color);
  height: 2px;
  border-radius: 20px;
  width: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}
#navbar .navbar-nav .nav-link:hover {
  color: var(--pink-color);
}
.footer-nav .nav-link:hover {
  color: #9ec3d6;
}

.btn-close:focus {
  box-shadow: none;
}

#navbar .navbar-nav .nav-link.active {
  color: var(--pink-color);
}
.footer-nav .nav-link.active {
  color: #9ec3d6;
}

#navbar .navbar-nav .nav-link.active::after,
#navbar .navbar-nav .nav-link:hover::after {
  transform: translateX(-50%);
  background-color: var(--pink-color);
  visibility: visible;
  opacity: 1;
  width: 20px;
}
.footer-nav .nav-link.active::after,
.footer-nav .nav-link.nav-link:hover::after {
  transform: translateX(-50%);
  background-color: #9ec3d6;
  visibility: visible;
  opacity: 1;
  width: 20px;
}
#navbar .navbar-nav .nav-link.active {
  color: var(--pink-color);
}
.footer-nav .nav-link.active {
  color: #9ec3d6;
}

/* ---navbar--end */

/* ---hero sec-start-- */
.hero-sec {
  padding-top: 30px;
}
.hero-info h1 {
  font-size: 56px;
  line-height: 80px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--gray-dark-color);
}
.hero-info span {
  color: var(--pink-color);
}

.hero-info p {
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  color: var(--gray-dark-color);
  margin-bottom: 30px;
}
.hero-info .btn {
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 18px 40px;
  border-radius: 800px;
  background-color: var(--pink-color);
  color: var(--white-color);
  box-shadow: 0px 7px 45px 0 rgba(54, 88, 113, 0.25);
  margin-bottom: 135px;
}
.hero-info .btn,
.submit-btn .btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 0.5s ease;
}

.hero-info .btn::before,
.submit-btn .btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  background-color: var(--white-color);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: transform 0.4s ease;
  z-index: -1;
  pointer-events: none;
}

.hero-info .btn:hover::before,
.submit-btn .btn:hover::before {
  transform: translate(-50%, -50%) scale(2);
}

.hero-info .btn:hover,
.submit-btn .btn:hover {
  color: var(--pink-color);
}
.hero-info .btn::before,
.submit-btn .btn::before {
  top: var(--hover-y, 50%);
  left: var(--hover-x, 50%);
}
.hero-sec {
  position: relative;
  overflow: visible;
}

.hero-right {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  overflow: visible;
}

.hero-right img {
  position: relative;
  right: -15%;
  max-width: none;
  width: 120%;
}

/* --responsive-- */
@media (max-width: 1440px) {
  .hero-right img {
    right: -7%;
  }
}
@media (max-width: 1399px) {
  .hero-info h1 {
    font-size: 44px;
    line-height: 66px;
  }
  #navbar .navbar-nav {
    gap: 34px;
  }
}

@media (max-width: 1199px) {
  .hero-right img {
    max-width: max-content;
  }
}
@media (max-width: 991px) {
  .hero-info p {
    font-size: 18px;
    line-height: 26px;
  }
  .hero-info h1 {
    font-size: 30px;
    line-height: 40px;
  }
  #navbar .navbar-toggler {
    border-color: var(--pink-color);
    padding: 2px 8px;
  }
  #navbar .navbar-toggler:focus {
    text-decoration: none;
    box-shadow: 0 5px 18px 0 rgba(54, 88, 113, 0.1);
  }
  .navbar-toggler-icon {
    width: 26px;
    height: 28px;
  }
  #navbar .navbar-collapse {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgba(54, 88, 113, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: height 0.4s ease;
    overflow: hidden;
    height: 0;
    z-index: 999;
  }
  .navbar {
    padding-top: 15px;
  }
  #navbar .navbar-collapse.show {
    height: 100vh;
  }
  #navbar .navbar-collapse {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(54, 88, 113, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 60px 20px 20px;
    overflow-y: auto;
    transform: translateY(-100%);
    transition: transform 0.4s ease-in-out;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #navbar .navbar-collapse.show {
    transform: translateY(0);
  }
  #navbar .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  #navbar .navbar-nav .nav-link {
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: white;
  }

  .close-nav {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
  }
}
@media (max-width: 767px) {
  .hero-info .btn {
    margin-bottom: 30px;
  }
  .hero-right img {
    position: static;
    max-width: -webkit-fill-available;
    width: 100%;
  }
}
@media (max-width: 640px) {
  .hero-info .btn {
    padding: 14px 28px;
  }
}
/* ---hero sec-end-- */

/* --count-sec--start */
.count-sec {
  margin: 0 auto;
  margin-top: -70px;
  z-index: 2;
  position: relative;
}
.count-sec-info {
  background-color: var(--white-color);
  box-shadow: 0 5px 18px 0 rgba(54, 88, 113, 0.25);
  padding: 35px 60px;
  border-radius: 20px;
  transition: all 0.4s ease;
}
.count-sec-info:hover {
  transform: translateY(-8px);
  box-shadow: 0 10px 30px rgba(54, 88, 113, 0.25);
}
.count-info {
  text-align: center;
  position: relative;
}
.count-info:after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background-color: var(--gray-light-color);
  width: 1px;
  height: 100%;
  opacity: 20%;
}
.count-sec .row .col-4:last-child .count-info::after {
  width: 0;
}
.count-info h2 {
  color: var(--pink-color);
  font-size: 40px;
  line-height: 40px;
  font-weight: 600;
  margin-bottom: 18px;
}
.count-info p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--gray-light-color);
}

@media (max-width: 767px) {
  .count-info h2 {
    font-size: 32px;
    line-height: 32px;
  }
  .count-sec-info {
    padding: 30px 22px;
  }
  .count-info p {
    font-size: 14px;
    line-height: 14px;
  }
  .count-info:after {
    right: -9px;
  }
}

@media (max-width: 575px) {
  .count-sec {
    margin: -10px 12px 0;
  }
}
@media (max-width: 430px) {
  .count-sec-info {
    padding: 22px 15px;
  }
  .count-info h2 {
    font-size: 26px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .count-info p {
    font-size: 12px;
  }
}
@media (max-width: 375px) {
  .count-info h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 8px;
  }
  .hero-info h1 {
    font-size: 28px;
    line-height: 38px;
  }
  .hero-info p {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 320px) {
  .count-info p {
    font-size: 10px;
  }
  .count-sec-info {
    padding: 18px 15px;
  }
  .count-info h2 {
    font-size: 18px;
    line-height: 20px;
  }
}
/* --count-sec--end */

/* ---about-us--start */
.about-us {
  padding: 120px 0;
  position: relative;
}

.common-title h2 {
  text-align: center;
  font-size: 46px;
  line-height: 46px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--pink-color);
}
.common-title h2 span {
  color: var(--gray-dark-color);
}
.about-info p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--gray-light-color);
  margin-bottom: 25px;
}
.about-info p:last-child {
  margin-bottom: 0;
}
.about-img img {
  width: 100%;
}

/* --responsive-- */
@media (max-width: 1024px) {
  .about-info p {
    font-size: 16px;
    line-height: 28px;
  }
}
@media (max-width: 992px) {
  .common-title h2 {
    font-size: 38px;
    line-height: 40px;
  }
}
@media (max-width: 768px) {
  .common-title h2 {
    font-size: 34px;
    line-height: 38px;
  }
  .about-us {
    padding: 70px 0;
  }
}
@media (max-width: 430px) {
  .common-title h2 {
    font-size: 30px;
    line-height: 36px;
  }
}
/* ---about-us--end */

/* --selling-items--start */
.selling-detail {
  position: relative;
  z-index: 1;
  padding-top: 60px;
}
.selling-detail::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  height: 400px;
  background-color: #f6f6f6;
  width: 100%;
  z-index: -1;
}
.selling-flow1 h5 {
  color: var(--gray-dark-color);
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.selling-flow1 h2,
.selling-flow2 h2 {
  color: #365871;
  font-weight: 700;
  font-size: 46px;
  line-height: 46px;
}
.selling-flow1 h2 {
  margin-bottom: 50px;
}
.selling-flow2 h2 {
  margin-bottom: 30px;
}
.selling-flow1 .flow1-img {
  margin-bottom: 30px;
}
.selling-flow1 p,
.selling-flow2 p {
  color: #767571;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}
.selling-flow1 p {
  margin-bottom: 34px;
}
.selling-flow2 p {
  margin-bottom: 70px;
}
.selling-flow2 .flow2-img {
  margin-bottom: 70px;
}
.flow4-img {
  display: flex;
  justify-content: end;
}

.selling-flow1 img,
.selling-flow2 img {
  transition: transform 0.4s ease;
}
.selling-flow1 img:hover,
.selling-flow2 img:hover {
  transform: scale(1.05);
}

@media (max-width: 1024px) {
  .selling-flow1 h2,
  .selling-flow2 h2 {
    font-size: 36px;
    line-height: 36px;
  }
  .selling-flow1 h5 {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 20px;
  }
  .selling-flow1 p,
  .selling-flow2 p {
    font-size: 16px;
    line-height: 24px;
  }
  .selling-flow1 h2 {
    margin-bottom: 40px;
  }
}
@media (max-width: 768px) {
  .selling-flow2 .flow2-img {
    margin-bottom: 50px;
  }
}
@media (max-width: 575px) {
  .selling-flow1 h5 {
    font-size: 14px;
    line-height: 16px;
  }
  .selling-flow1 h2,
  .selling-flow2 h2 {
    font-size: 30px;
    line-height: 30px;
  }
  .selling-flow2 p {
    margin-bottom: 50px;
  }
}

/* --selling-items--end */

/* -process--start */
.process {
  padding-top: 120px;
  position: relative;
}

.process-info {
  background-color: var(--white-color);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 18px 0px rgba(54, 88, 113, 0.1);
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease;
}
.process-info::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(54, 88, 113, 0.05),
    transparent,
    rgba(54, 88, 113, 0.05)
  );
  transform: skewX(-15deg);
  transition: all 0.6s ease;
  z-index: 0;
}

.process-info:hover::before {
  left: 0;
}

.process-icon {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(54, 88, 113, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
  z-index: 1;
  position: relative;
}
.process-info h3 {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: var(--pink-color);
  margin-bottom: 15px;
  transition: transform 0.4s ease;
  position: relative;
  z-index: 1;
}
.process-info:hover h3 {
  transform: scale(1.1);
}
.process-info:hover .process-icon {
  transform: rotate(8deg) scale(1.1);
  box-shadow: 0 5px 20px rgba(54, 88, 113, 0.3);
}

.process-icon img {
  max-width: 100%;
  transition: transform 0.4s ease;
}

.process-info:hover .process-icon img {
  transform: rotate(-8deg);
}

.process-info p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--gray-light-color);
  width: 100%;
  max-width: 312px;
  opacity: 0.85;
  transition: opacity 0.6s ease, transform 0.5s ease;
  position: relative;
  z-index: 1;
}
.process-info:hover p {
  opacity: 1;
  transform: translateY(-5px);
}

/* --responsive-- */
@media (max-width: 1024px) {
  .process-info p {
    max-width: 100%;
    font-size: 16px;
    line-height: 24px;
  }
  .process-icon {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 991px) {
  .process {
    padding-top: 70px;
  }
}
@media (max-width: 640px) {
  .process-info {
    padding: 20px;
  }
}
/* -process--end */

/* --catalog-sec-start */
.catalog-sec {
  padding-top: 120px;
  position: relative;
}
.catalog-grid,
.catalog-grid-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.mb-31 {
  margin-bottom: 31px;
}
.catalog-grid-info {
  position: relative;
}
.catalog-grid-info .image-wrapper {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.4s ease-in-out;
}

.catalog-grid-info .image-wrapper img {
  width: 100%;
  display: block;
  border-radius: 10px;
  z-index: 1;
  transition: all 0.5s;
}
.catalog-grid-info .image-wrapper:hover img {
  transform: scale(1.1);
}

.catalog-grid-info .image-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, #21201c00 0%, #21201c 100%);
  z-index: 2;
  pointer-events: none;
}
.catalog-grid-info:hover .catalog-data {
  transform: translateX(-50%) translateY(-10px);
  opacity: 1;
}
.catalog-data {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 4;
  transition: all 0.5s;
}
.catalog-data h3 {
  color: white;
  font-weight: 600;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 15px;
  text-align: center;
}
.catalog-data button {
  font-size: 14px;
  line-height: 14px;
  font-weight: 500;
  color: #21201c;
  background-color: #fff;
  padding: 14px 30px;
  border-radius: 800px;
  margin-bottom: 20px;
  border: none;
  white-space: nowrap;
}

@media (max-width: 1199px) {
  .catalog-data button {
    font-size: 12px;
    line-height: 14px;
    padding: 8px 11px;
  }
  .catalog-data h3 {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 12px;
  }
  .mb-31 {
    margin-bottom: 20px;
  }
  .catalog-grid,
  .catalog-grid-main {
    gap: 20px;
  }
}
@media (max-width: 991px) {
  .catalog-grid-main {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 640px) {
  .catalog-grid {
    grid-template-columns: 1fr;
  }
  .catalog-data button {
    padding: 10px 15px;
  }
}
/* --catalog-sec-end */

/* --gallery-sec-start */
.gallery-sec {
  padding-top: 120px;
}

.gallery-imgs img {
  transition: transform 0.3s ease;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: fill;
}
.gallery-imgs img:hover {
  transform: scale(1.05) rotate(1deg) !important;
  filter: brightness(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.gallery-info .gallery-imgs:first-child {
  margin-bottom: 30px;
}
@media (max-width: 991px) {
  .gallery-sec {
    padding-top: 70px;
  }
  .gallery-imgs img {
    padding-bottom: 30px;
  }
}

/* --gallery-sec-end */

/* --testimonial-sec-start */
.testimonial-sec {
  padding-top: 120px;
  position: relative;
}
.testimonial-info {
  text-align: center;
  padding: 0 30px;
  margin-bottom: 50px;
}
.testimonial-info .inverted {
  margin: 0 auto 20px;
}
.testimonial-info p {
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  color: var(--gray-light-color);
  letter-spacing: 2%;
  margin-bottom: 30px;
}
.testimonial-sec .owl-carousel .owl-item img {
  display: block;
  width: auto !important ;
}
.user-info img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  margin-bottom: 15px;
  margin: 0 auto 15px;
}

.user-info h3 {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: var(--pink-color);
  margin-bottom: 10px;
}
.user-info p {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--gray-light-color);
  margin-bottom: 0;
}
.testimonial-sec .owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
  background-color: var(--pink-color);
}
.testimonial-sec .owl-theme .owl-dots .owl-dot span {
  background-color: #e5e5e5;
}

/* --responsive-- */
@media (max-width: 1199px) {
  .testimonial-info {
    padding: 0;
  }
}
@media (max-width: 991px) {
  .testimonial-sec {
    padding-top: 70px;
  }
}
@media (max-width: 640px) {
  .testimonial-info {
    padding: 0 20px;
  }
  .testimonial-info p {
    font-size: 16px;
    line-height: 26px;
  }
}
/* --testimonial-sec-end */

/* ---order-flow--start */
.order-flow {
  margin-top: 120px;
  background-color: rgba(54, 88, 113, 5%);
  padding: 50px 0;
  position: relative;
}

.order-info {
  text-align: center;
}
.order-info h2 {
  font-size: 42px;
  line-height: 42px;
  font-weight: 700;
  color: var(--pink-color);
  margin-bottom: 20px;
}
.order-info h2 span {
  color: var(--gray-dark-color);
}
.order-info p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: var(--gray-light-color);
  width: 100%;
  max-width: 500px;
  margin: 0 auto 35px;
}
.order-info h3 {
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: var(--gray-dark-color);
  margin-bottom: 20px;
}
.flow-download-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

/* --responsive-- */
@media (max-width: 1024px) {
  .order-info h2 {
    font-size: 38px;
    line-height: 40px;
  }
  .order-info h3 {
    font-size: 26px;
    line-height: 28px;
  }
}
@media (max-width: 991px) {
  .order-info h2 {
    font-size: 26px;
    line-height: 34px;
  }
  .order-info p {
    font-size: 16px;
    line-height: 26px;
    margin: 0 auto 23px;
  }
  .order-info h3 {
    font-size: 24px;
    line-height: 26px;
  }
  .flow-download-btn img {
    width: 100%;
    object-fit: cover;
    max-width: 130px;
  }
  .order-flow {
    margin-top: 70px;
  }
}
@media (max-width: 430px) {
  .order-info h2 {
    font-size: 28px;
    line-height: 34px;
  }
}
/* ---order-flow--end */

/* ---contact-us-- start */
.contact-us {
  margin-top: 120px;
  position: relative;
}

input:focus,
textarea:focus,
.form-control:focus {
  box-shadow: none;
  outline: none;
  box-shadow: none;
}
.form-div {
  margin-bottom: 30px;
}
.contact-form .form-label {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  color: var(--gray-dark-color);
  margin-bottom: 15px;
}
.contact-form .form-control {
  background-color: #f4f3ef;
  padding: 16px 15px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  border: none;
}
.contact-form .form-control::placeholder {
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
}
.submit-btn {
  margin-top: 40px;
}
.submit-btn .btn {
  color: var(--white-color);
  font-size: 16px;
  line-height: 16px;
  font-weight: 500;
  padding: 18px 40px;
  background-color: var(--pink-color);
  border-radius: 800px;
  box-shadow: 0 7px 45px 0 rgba(54, 88, 113, 0.25);
}
.contact-img {
  margin-bottom: 30px;
}
.contact-list li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  transition: all 0.3s ease;
}
.contact-list li:hover .contact-icon {
  transform: scale(1.05);
}

.contact-list li:last-child {
  margin-bottom: 0;
}

.contact-data a,
.contact-data {
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: var(--gray-light-color);
  margin-bottom: 0;
  text-decoration: none;
  transition: color 0.3s ease, text-decoration 0.3s ease;
}
.contact-data a:hover {
  color: var(--gray-dark-color);
}
.contact-icon {
  width: 56px;
  height: 56px;
  border-radius: 10px;
  background-color: rgba(54, 88, 113, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.contact-icon img {
  transition: transform 0.3s ease;
}
.contact-list li:hover .contact-icon img {
  transform: rotate(5deg) scale(1.1);
}
.pl {
  padding-left: 30px;
}
.pr {
  padding-right: 30px;
  position: relative;
}
.pr::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: 1px;
  background-color: var(--gray-light-color);
  opacity: 15%;
}
.contact-main {
  background-color: white;
  box-shadow: 0 3px 18px 0 rgba(54, 88, 113, 0.1);
  border-radius: 18px;
  padding: 40px;
}

/* -responsive-- */
@media (max-width: 1024px) {
  .contact-data a,
  .contact-data {
    font-size: 14px;
  }
  .contact-main {
    padding: 24px 20px;
  }
  .pr::after {
    display: none;
  }
}
@media (max-width: 991px) {
  .pl {
    padding-left: 12px;
  }
  .pr {
    padding-right: 12px;
  }
  .contact-us {
    margin-top: 70px;
  }
}
@media (max-width: 640px) {
  .form-div {
    margin-bottom: 20px;
  }
  .submit-btn {
    margin-top: 30px;
  }
  .submit-btn .btn {
    padding: 14px 36px;
  }
}
@media (max-width: 575px) {
  .contact-data {
    width: 80%;
  }
  .contact-list li {
    margin-bottom: 20px;
  }
  .contact-icon img {
    width: 100%;
    max-width: 23px;
  }
  .contact-icon {
    width: 46px;
    height: 46px;
  }
}
/* ---contact-us-- end */

/* --footer--start */
footer {
  margin-top: 120px;
  background-color: var(--gray-dark-color);
  padding-top: 50px;
  text-align: center;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
  margin: 0 auto;
}
.footer-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: 45px;
}
.footer-nav .nav-link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  color: var(--white-color);
  position: relative;
  transition: all 0.5s;
}
.footer-nav .nav-link.active {
  color: #9ec3d6;
}
.copy-right {
  border-top: 1px solid rgb(246, 246, 246, 20%);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.copy-right h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #f6f6f6;
  margin-bottom: 0;
  transition: all 0.5s;
}
.copy-right h3:hover {
  color: #9ec3d6;
  cursor: pointer;
}
.social-icon {
  display: flex;
  gap: 15px;
  align-items: center;
}
.social-icon li a {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: rgba(246, 246, 246, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-icon li a:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

/* --responsive-- */
@media (max-width: 991px) {
  footer {
    margin-top: 70px;
  }
}
@media (max-width: 767px) {
  .footer-nav {
    flex-direction: column;
  }
}
@media (max-width: 430px) {
  .copy-right {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }
}
/* --footer--end */
